* {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
    font-size: 12px;
}
.dash-table-tooltip {
    z-index: 99 !important;
    color: #333 !important;
    border-radius: 6px;
    padding: 6px 8px;

}