* {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
    font-size: 12px;
}
.dash-table-tooltip {
    background-color: #f9f0c1 !important;  /* soft yellow */
    color: #333 !important;
    font-weight: bold;
    border-radius: 6px;
    padding: 6px 8px;
}